openapi: 3.0.3
info:
  title: API социальной сети для путешественников "Мир 360"
  version: '1.0'
servers:
  - url: https://world360.ru
tags:
  - name: Auth
    description: Регистрация и авторизация
  - name: Users
    description: Профиль пользователя
  - name: Posts
    description: Посты
  - name: Comments
    description: Комментарии
  - name: Locations
    description: Локации
paths:
  /auth/registration:
    post:
      summary: Регистрация пользователя
      tags: 
        - Auth
      requestBody: 
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
              required:
                - email
                - password
                - name
      responses: 
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreate'
        '400':
          description: Данные введены неверно
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Такой email уже занят
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/login:
    post:
      summary: Авторизация пользователя
      tags: [Auth]
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              properties: 
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses: 
        '200':
          description: Авторизация прошла успешно
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /auth/logout:
    post:
      summary: Выход из приложения
      tags: [Auth]
      responses: 
        '200':
          description: Успешный Выход
        '401':
          description: Пользователь не авторизован
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /users/me:
    get:
      summary: Профиль пользователя
      description: Просмотр своего профиля
      tags: [Users]
      security: 
        - bearerAuth: []
      responses: 
        '200':
          description: Профиль пользователя
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Редактирование профиля
      description: Изменение данных в своем профиле
      tags: [Users]
      security: 
        - bearerAuth: []
      requestBody:
        content: 
          application/json: 
            schema: 
              type: object
              properties: 
                name: 
                  type: string
                text: 
                  type: string
      responses: 
        '200':
          description: Профиль пользователя
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /users/me/avatar:
    put:
      summary: Добавить/изменить аватар профиля
      tags: [Users] 
      security: 
        - bearerAuth: []
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
      responses: 
        '200':
          description: Аватар загружен
          content:
            application/json: 
              schema:
                type: object
                properties: 
                  avatar_url: 
                    type: string
                    format: uri
        '400': 
          description: Неверный формат фото
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /users/{user_id}:
    get:
      summary: Просмотр профиля другого пользователя
      tags: [Users]
      security: 
        - bearerAuth: []
      parameters: 
        - name: user_id
          in: path
          required: true
          schema: 
            type: string
            format: uuid   
      responses: 
        '200':
          description: Профиль пользователя загружен
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/UserProfile'
        '401': 
          description: Неавторизованный запрос
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
        '404': 
          description: Контент не найден
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /users/me/feed:
    get:
      summary: Просмотр ленты с постами
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters: 
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema: 
            type: integer 
            default: 10 
            maximum: 10
      responses: 
        '200': 
          description: Лента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
  /users/me/posts:
    get:
      summary: Просмотр личных постов пользователя
      tags: 
        - Posts
      security: 
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema: 
            type: integer 
            default: 10 
            maximum: 10
      responses:
        '200': 
          description: Лента с личными постами пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
    post:
      summary: Создание поста
      tags: 
        - Posts
      security: 
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 1000
                text:
                  type: string
                  maxLength: 20000
                photos: 
                  type: array
                  minItems: 1
                  maxItems: 3
                  items: 
                    type: string
                    format: binary
                location_id:
                  type: string
                  format: uuid
      responses:
        '201': 
          description: Пост создан
          content:
            application/json:
             schema:
              $ref: '#/components/schemas/Post'
        '401': 
          description: Неавторизованный запрос
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{post_id}:
    get: 
      summary: Просмотр поста
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '200':
          description: Пост
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Нет контента
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Редактирование поста 
      description: Частичное обновление поста
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 1000
                text:
                  type: string
                  maxLength: 20000
                photos: 
                  type: array
                  maxItems: 3
                  items: 
                    type: string
                    format: binary
                location_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Пост
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав - пользователь не является автором поста
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Нет контента
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Удаление поста
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '204':
          description: Нет контента
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав - пользователь не является автором поста
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Нет контента
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          
  /users/{user_id}/subscriptions:
    put:
      summary: Подписаться на пользователя
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200': 
          description: Подписка установлена
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Отписаться от пользователя
      security:
        - bearerAuth: []
      tags: 
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204': 
          description: Успешно отписан от пользователя
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{post_id}/comments:
    get:
      summary: Посмотреть комментарии к посту
      tags:
        - Comments
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema: 
            type: integer 
            default: 10 
            maximum: 10
      responses:
        '200':
          description: Вывод комментариев
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/CommentsFeed'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Добавить комментарий к посту
      tags:
        - Comments
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PostId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  maxLength: 2000
      responses:
        '201':
          description: Комментарий создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{post_id}/comments/{comment_id}:
    delete:
      summary: Удалить комментарий
      description: Удалить комментарий может либо автор поста, либо автор комментария
      tags:
        - Comments
      security:
        -  bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - $ref: '#/components/parameters/PostId'
      responses:
        '204':
          description: Комментарий удален
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Недостаточно прав - пользователь не является ни автором комментария, ни автором поста
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{post_id}/reactions/me:
    put:
      summary: Поставить или изменить свою реакцию
      tags: 
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              enum:
                - like
                - dislike
                - fire
                - heart
                - laugh
      responses:
        '200': 
          description: Реакция поставлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
        '401':
          description: Пользователь не авторизован
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Удалить свою реакцию
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '204': 
          description: Реакция удалена
  /posts/{post_id}/reactions:
    get:
      summary: Показывает реакции к посту
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '200': 
          description: Вывод всех реакций к посту
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionsSummary'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /locations:
    get:
      summary: Поиск локаций
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema: 
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema: 
            type: integer
            default: 10
            maximum: 20
      responses:
        '200':
          description: Список мест
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationsFeed"
  /locations/{location_id}/posts:
    get:
      summary: Посты по конкретному месту
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LocationId'
      responses:
         '200':
            description: Лента постов по локации
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/Feed'
              
components:
  parameters:
    UserId:
      name: user_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PostId:
      name: post_id
      in: path 
      required: true
      schema:
        type: string
        format: uuid
    CommentId:
      name: comment_id
      in: path
      required: true
      schema: 
        type: string
        format: uuid
    LocationId:
      name: location_id
      in: path
      required: true
      schema: 
        type: string
        format: uuid
  schemas:
    UserCreate:
      type: object 
      properties:
        id: 
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
    UserProfile:
      type: object 
      properties:
        id: 
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        text:
          type: string
        avatar_url:
          type: string
          format: uri
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: "Текст ошибки"
    Feed:
      type: object
      properties: 
        data: 
          type: array
          items: 
            $ref: '#/components/schemas/PostInFeed'
        next_cursor:
          type: string 
          format: uuid
        has_next:
          type: boolean
    PostInFeed:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        photo: 
          type: string
          format: uri
        location:
          $ref: '#/components/schemas/Location'
        self_url:
          type: string 
          format: uri 
        author: 
          $ref: '#/components/schemas/UserShort'
    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        text:
          type: string
        photo_urls: 
          type: array
          items:
            type: string
            format: uri
        location:
          $ref: '#/components/schemas/Location'
        self_url:
          type: string 
          format: uri 
        author: 
          $ref: '#/components/schemas/UserShort'           
    UserShort: 
      type: object
      properties: 
        name: 
          type: string 
        avatar_url:
          type: string
          format: uri
    CommentsFeed:
      type: object
      properties:
        data: 
          type: array
          items: 
              $ref: '#/components/schemas/Comment'
        next_cursor:
          type: string 
          format: uuid
        has_next:
          type: boolean
    Comment: 
      type: object
      properties: 
        id:
          type: string
          format: uuid
        text:
          type: string
          maxLength: 2000
        user:
          $ref: '#/components/schemas/UserShort'
    LocationsFeed:
      type: object
      properties: 
        data: 
          type: array
          items: 
            $ref: '#/components/schemas/Location'
        next_cursor:
          type: string 
          format: uuid
        has_next:
          type: boolean
    Location: 
      type: object
      properties: 
        id: 
          type: string
          format: uuid
        name: 
          type: string
        latitude: 
          type: number 
          format: double 
          minimum: -90 
          maximum: 90
        longitude: 
          type: number
          format: double 
          minimum: -180
          maximum: 180
    Reaction:
      type: object
      properties:
        id: 
          type: string
          format: uuid 
        value:
          type: string
          enum:
            - like
            - dislike
            - fire
            - heart
            - laugh 
    ReactionsSummary:
      type: object
      properties:
        counts:
          type: object 
          additionalProperties:
            type: integer
        myReaction:
          type: string
          enum:
            - like
            - dislike
            - fire
            - heart
            - laugh 
          nullable: true

            
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
    



